<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.bitplane.android.anonypic"
      android:versionCode="1"
      android:versionName="1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name" >
    <!--    android:debuggable="true" -->
                
        <activity android:name=".AnonypicUI"
                  android:label="@string/app_name">

	        <!-- This activity is an ugly hack, only activities work with image sharing.
	             so it will just start the service and exit. -->
    
            <intent-filter>
            	<!-- This intent filter means the app will show up in picture sharing menus
            	     it doesn't have the standard intent filters for showing up in the file
            	     manager or being launched directly. Maybe it will one day, but not today. -->
            	
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>                  

        </activity>
        <service android:name=".AnonypicUploader"
                 android:label="@string/app_name">
            <intent-filter>
            	<!-- This is a custom intent for sharing an image by sending it to bayimg.com.
            		I should be able to start the service by firing off this event from the activity
            		above. -->
                <action android:name="net.bitplane.android.anonypic.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
            	<!-- This is a custom intent for cancelling the send, this is added to the notification
            		 so that users can cancel the upload. -->
                <action android:name="net.bitplane.android.anonypic.CANCEL_SEND" />
                <data android:scheme="null" /> 
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        
        </service>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="3" />

</manifest> 